.container {
  margin: 0; }

.accordion {
  list-style: none;
  margin: 20px;
  width: 550px;
  height: 550px;
  padding: 0; }
  .accordion li {
    border: 2px solid #4DB4C3; }
  .accordion h3 {
    margin: 0;
    background: #51C2D3;
    border-top: 2px solid #4DB4C3;
    color: white;
    height: 20px;
    max-width: 100%;
    padding: 15px; }
  .accordion p {
    margin: 0;
    height: max-content;
    padding: 20px;
    transition: height 2s; }
  .accordion .slide {
    height: 0;
    padding: 0;
    overflow: hidden; }
  .accordion .visable {
    margin: 0;
    height: max-content;
    padding: 20px; }
