$border: 2px solid #4DB4C3;


.container {
  margin: 0;
}
.accordion{
  margin: 20px;
  width: 550px;
  list-style: none;
  border: $border;
  padding: 0;
  h3 {
    margin: 0;
    background: #51C2D3;
    border-top: $border;
    color: white;
    height: 20px;
    max-width: 100%;
    padding: 15px;
  }
  p {
    margin: 0;
    height: max-content;
    padding: 20px;
  }
  .hidden {
    transition: all 3s ease;
    margin: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    
  }
  .showing {
    margin: 0;
    height: max-content;
    padding: 20px;
  }
}