$border: 2px solid #4DB4C3;


.container {
  margin: 0;
}
.accordion{
  list-style: none;
  margin: 20px;
  width: 550px;
  height: 550px;
  padding: 0;
  li{
    border: $border;
  }
  h3 {
    margin: 0;
    background: #51C2D3;
    border-top: $border;
    color: white;
    height: 20px;
    max-width: 100%;
    padding: 15px;
  }
  p {
    margin: 0;
    height: max-content;
    padding: 20px;
  }
  .slide{
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height 2s ease;
  }
  .visible{
    margin: 0;
    height: max-content;
    padding: 20px;
  }
}